body{
    background-color: rgb(255, 142, 170);
display: block;
justify-content: center;
align-items: center;
height: 100vh;
border: chocolate 3px;
}

img{
border-radius: 200px;
width: 200px;
height: 200px;
}